//{{ .JobName | ToUpper }} JOB (ACCT),'GRC COMP',CLASS=A,MSGCLASS=A,MSGLEVEL=(1,1)
//COMPILE  EXEC PGM={{ .CompilerPgm }},PARM='{{ .CompilerParms }}',REGION=0M
{{- if .CompilerSteplib }}
//STEPLIB  DD DSN={{ .CompilerSteplib }},DISP=SHR
{{- end }}
{{ .DDStatements }}
//SYSMDECK DD DUMMY
//SYSUT1    DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT2    DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT3    DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT4    DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT5    DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT6    DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT7    DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT8    DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT9    DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT10   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT11   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT12   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT13   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT14   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT15   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
