//{{ .JobName }} JOB (ACCT),'{{ .JobName | ToUpper }} - COMPILE',CLASS=A,MSGCLASS=A,MSGLEVEL=(1,1)
//COMPILE  EXEC PGM=IGYCRCTL,PARM='OBJECT,NODECK,LIB' {{- /* Common PARM options */}}
{{ .DDStatements }}
//SYSUT1   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT2   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT3   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT4   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT5   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT6   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT7   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
