//{{ .JobName | ToUpper }} JOB (ACCT),'GRC EXEC',CLASS=A,MSGCLASS=A,MSGLEVEL=(1,1)
//STEP1    EXEC PGM={{ .ProgramName }},REGION=0M
//STEPLIB  DD DSN={{ .LoadLib }},DISP=SHR
{{ .DDStatements }}
//SYSPRINT DD SYSOUT=*
//SYSOUT   DD SYSOUT=*
//SYSUDUMP DD SYSOUT=*
//CEEDUMP  DD SYSOUT=*
