//{{ .JobName }} JOB (ACCT),'{{ .JobName }}',CLASS=A,MSGCLASS=A,MSGLEVEL=(1,1)
//STEP1    EXEC IGYWCL
//COBOL.SYSIN DD DSN={{ .CobolDSN }},DISP=SHR
//LKED.SYSLMOD DD DSN={{ .LoadLib }}({{ .JobName }}),DISP=SHR
//STEP2    EXEC PGM={{ .JobName }},COND=(4,LT,STEP1.LKED)
//STEPLIB  DD DSN={{ .LoadLib }},DISP=SHR
//SYSPRINT DD SYSOUT=*
//SYSOUT   DD SYSOUT=*
//SYSUDUMP DD SYSOUT=*
//CEEDUMP  DD SYSOUT=*
