//{{ .JobName | ToUpper }} JOB (ACCT),'{{ .JobName | ToUpper }}',CLASS=A,MSGCLASS=A,MSGLEVEL=(1,1)
//LINKEDIT EXEC PGM=IEWL,PARM='LIST,MAP,XREF'
{{ .DDStatements }}
//SYSLMOD  DD DSN={{ .LoadLib }}({{ .ProgramName }}),DISP=SHR
//SYSUT1   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSPRINT DD SYSOUT=*
