//{{ .JobName | ToUpper }} JOB (ACCT),'GRC LINK',CLASS=A,MSGCLASS=A,MSGLEVEL=(1,1)
//LINKEDIT EXEC PGM={{ .LinkerPgm }},PARM='{{ .LinkerParms }}',REGION=0M
{{- if .LinkerSteplib }}
//STEPLIB  DD DSN={{ .LinkerSteplib }},DISP=SHR
{{- end }}
//SYSLIB   DD DSN=CEE.SCEELKED,DISP=SHR
//         DD DSN=IGY.V6R4M0.SIGYLIB,DISP=SHR
{{ .DDStatements }}
//SYSLMOD  DD DSN={{ .LoadLib }}({{ .ProgramName }}),DISP=SHR
//SYSUT1   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSPRINT DD SYSOUT=*
